/* Navbar.css */
header {
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
.navbar {
    /* background-color: #333; */
    width: 80%;
    float: left;
    height: 70px;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  .humburer{
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
    color: #00fffb;
    float: left;
  }
  .name, .title, .description {
    text-align: left;
    color: white;
  }