#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Cards */
.cards-container {
  display: flex;
  gap: 20px;
}

.card {
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.card p {
  font-size: 1em;
  color: #555;
}
/* end Cards */
